html, body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background: #0e0c13;
	color: #fff;
	font-family: BlenderPro, sans-serif;
}

.rectangle {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	background: #000;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.title {
	font-size: 
}

.settings-logo {
	cursor: pointer;
}

.settings {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
}

.settings p {
	color: #fff;
}

.settings a {
	color: #398f87;
}

.servers {
	margin-top: 30px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.server-name {
	padding: 10px;
	width: calc(100% - 20px);
	height: 23px;
	background: #131517;
	color: #fff;
	border: solid 0.5px #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.server-name div {
	align-self: flex-start;
}

.server-name-title {
	display: flex;
}

.server-name-title div {
	margin-right: 10px;
}

.process {
	width: 100%;
	color: #fff;
}

.process-name {
	padding: 10px;
	width: calc(100% - 20px);
	height: 17.5px;
	background-color: #2f3338;
	border: solid 0.5px #000;
	display: flex;
	justify-content: space-between;
}

.probs {
	
}

.probs div {
	background: rgb(31, 34, 37);
	border-bottom: 1px solid #000;
	height: 150px;
}

.cpu {
	display: flex;
	justify-content: space-between;
}

.title {
	margin: 10px;
}

.value {
	margin: 10px;
	font-size: 30px;
	-webkit-mask-image: -webkit-linear-gradient(to bottom, #26e089, #26cce0);
	-webkit-mask-image: linear-gradient(to bottom, #26e089, #26cce0);
}