/* Fonts */

@font-face {
    font-family: 'BlenderProThin';
    src: url('../assets/fonts/BlenderProThin.ttf');
}
@font-face {
    font-family: 'BlenderProMedium';
    src: url('../assets/fonts/BlenderProMedium.ttf');
}
@font-face {
    font-family: 'BlenderProHeavy';
    src: url('../assets/fonts/BlenderProHeavy.ttf');
}

/* All */

html, body {
    padding: 0px;
    margin: 0px;
    background: #000 url("../assets/pattern.png");
    font-family: 'BlenderProMedium', sans-serif;
}

/* Login and Settings */

.logo {
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: center;
}

.logo img {
  height: 40px;
}

.text {
  text-align: center;
  color: #fff;
  margin: 15px auto;
  max-width: 220px;
  font-family: 'BlenderProThin', sans-serif;
  font-size: 12.5px;
  font-weight: 500;
}

.text a {
  color: #2398d8;
}

.form {
  text-align: center;
}

.form input {
  outline: none;
  border: none;
  width: calc(220px - 20px);
  height: 35px;
  line-height: 35px;
  padding: 0px;
  border-radius: 4px;
  background: #efefef;
  margin-bottom: 15px;
  padding: 0px 10px;
  font-family: 'BlenderProMedium', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.form button {
  margin-top: 15px;
  width: 100px;
  background: #26a9e0;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  font-family: 'BlenderProMedium', sans-serif;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}

.box {
  z-index: 2;
  top: 0;
  left: 0px;
  width: calc(100% - 20px);
  position: fixed;
  background: #000;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 10px;
  font-family: 'BlenderProThin', sans-serif;
  font-weight: 900;
  font-size: 14px; 
}

.box-close {
  margin-top: 2px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.quit {
  margin: 40px auto 0px auto;
  width: 220px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'BlenderProMedium', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.app {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.settings {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Servers */

.servers {
  margin-top: 35px;
}

.server-header {
  padding: 10px;
  background: #131517;
  border: solid 0.5px #000000;
  display: flex;
  color: #fff;
  justify-content: space-between;
  cursor: pointer;
}

.server-header-title {
  margin-top: 1px;
  display: flex;
}

.server-header-logo {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 10px;
}

.server-header-name {
  font-family: 'BlenderProThin', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.server-header-arrow {
  width: 12px;
  height: 12px;
}

/* Processes */

.processes {
  /*display: none;*/
}

.process-header {
  padding: 10px;
  background: #2f3338;
  border: solid 0.5px #000000;
  display: flex;
  color: #fff;
  justify-content: space-between;
  cursor: pointer;
}

.process-header-title {
  display: flex;
}

.process-header-logo {
  width: 6px;
  height: 6px;
  margin-top: -1px;
  margin-right: 10px;
}

.process-header-name {
  font-family: 'BlenderProThin', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.process-header-arrow {
  width: 12px;
  height: 12px;
}

/* Probes */

.probes {
  /*display: none;*/
}

.probe {
  background: #1f2225;
  height: 125px;
  width: calc(100% - 40px);
  color: #fff;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #000;
}

.probe-logo {
  position: relative;
  top: 2px;
  left: -70px;
  width: 100px;
}

.probe-infos {
  position: relative;
  top: -110px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

.probe-name {
  font-family: 'BlenderProThin', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.probe-value {
  font-family: 'BlenderProThin', sans-serif;
  font-weight: 500;
  font-size: 40px;
}

/* Color gradient */

.greenGradient {
  background: -webkit-linear-gradient(#26e089, #26cce0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redGradient {
  background: -webkit-linear-gradient(#cd2626, #e07d26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Graph */

.probe-graph {
  position: relative;
  top: -205px;
  left: -20px;
  width: calc(100% + 40px);
  height: 40px;
}
